SQLAlchemy~=1.4.17
Flask~=2.0.1
fpdf~=1.7.2
requests~=2.25.1
googletrans~=3.0.0
cheroot~=8.5.2
setuptools~=57.0.0
Flask-Cors
Flask-MySQLdb
Flask-RESTful
Flask-SQLAlchemy
google-api-core
google-api-python-client
google-auth
google-oauth
google-oauth2-tool
google-trans-new
googletrans2
mysql
mysqlclient
oauth2client
XlsxWriter~=3.0.1